.questions{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    min-height: 500px;
    border: 1px solid black;
    border-radius: 20px;
}
.bottomButtons{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.answerButton{
    width: 300px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
}
.questions-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "selections data"
        "explanations explanations";
    align-items: stretch;
    box-sizing: border-box;
}
.question-text{
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.selections{
    grid-area: selections;
    border-right: 1px solid black;
}
.data{
    grid-area: data;
}
.data-information{
    padding: 0px;
    text-align: left;
}
.data-information > p{
    margin-top: 5px;
}
.explanations{
    grid-area: explanations;
    border-top: 1px solid black;
}
.questions-content > div{
    min-height: 300px;
    padding: 10px;
}
.answerButton:hover{
    cursor: pointer;
}